
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'); */
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #f4f9fb;
    color: #333;
    line-height: 1.6;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: teal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    gap: 30px;
   
}

.nav-links a {
    color:blue;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color:blue;
}

.hero {
    height: 100vh;
    background: url('./beach.jpg') center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}


.hero-text {
    position: relative;
    max-width: 700px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 30px;
    font-size: 18px;
}


.hero button {
    padding: 12px 30px;
    background: teal;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #006d6d;
    transform: scale(1.05);
}


.rooms {
    padding: 80px 60px;
    text-align: center;
}

.rooms h1 {
    margin-bottom: 40px;
    color: teal;
}


.rooms-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.rooms-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.rooms-card:hover {
    transform: translateY(-8px);
}

.rooms-card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.amenities {
    background: #f5f5f5;
    padding: 80px 20px;
    display: flex;
    justify-content: center; 
}


.amenities-section {
    max-width: 1100px;
    width: 100%;
    text-align: center;   
}


.section-title {
    font-size: 32px;
    margin-bottom: 50px;
    color: teal;
}


.amenities-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.amenity-card {
    background: #e4ecec;
    padding: 50px 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

.amenity-card:hover {
    transform: translateY(-5px);
    background: teal;
    color: white;
}





.icon {
    font-size: 35px;
    margin-bottom: 15px;
}


.about {
    padding: 80px 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.about h2 {
    color: teal;
    margin-bottom: 20px;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}